* {
	box-sizing: border-box;
}
h1{
	text-align: center;
	width: 100%;
	margin-bottom: 15px;
}
p{
	text-align: left;
	width: 33.3%;
	height: 33.3%;
	border: 3px solid black;
	margin: auto;
	float: right;
}
section{
	text-align: right;
	margin-right: 30px;
}
.row {
	width: 100%;
}

/* Desktop: On screens that are 1200px wide or less, go from three columns to two columns */
@media (min-width: 992px) {
  .col-lg {
  		float: left;
  		border: 3px solid black;
		width: 100%
		margin: auto;
	}
}
@media (max-width: 991px) and (min-width: 768px) {
	.col-md {
		float: left;
		border: 3px solid black;
		width: 100%
		margin: auto;
	}  
}
@media (min-width 767px) and (min-width: 0px) {
	.col-sm {
		float: left;
		border: 3px solid black;
		width: 100%
		margin: auto;
	}
}


